* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body{
    background-color: #E7DFD8;
    font-family: 'Roboto', sans-serif;
  }

  .menu ul{
    list-style: none;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
  }

  .menu ul li{
    display: inline;
    position: relative;
  }

  .menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background 0.3s;
    color: black;
    background-color: #E7DFD8;
    border-radius: 5px;
  }

  .menu ul li a:hover{
    background-color: #bc8f8f;
  }

  /*sub menu*/
  .menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .menu ul li:hover ul{
    display: block;
  }

  .menu ul ul li a{
    display: block;
  }

  .menu input{
    font-size: 10px;
  }

  .container{
    border: #bc8f8f 2px solid ;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .containergrade{
    display: block;
    border: 1px red solid;
    width: 200px;
    font-size: 10px;
    text-align: center;
  }

  .info{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    height: 40vh;
  }

  .icon{
    width: 100%;
    margin: 5px;
  }

  .icon img{
    width: 18px;
    height: 18px;
    margin: 2px;
  }

  span{
    font-size: 21px;
    margin: 5px;
    text-align: justify;
  }

  .foto{
    margin: 20px;
    width: 309px;
  }

  .foto img{
    width: 90%;
  }
  