* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body{
    background-color: #E7DFD8 !important;
    font-family: 'Roboto', sans-serif;
  }

  header{
    background-color: #E7DFD8;
  }
  .navbar ul li a{
    font-size: 10px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
  }

  .navbar ul li a:hover{
    background-color: #bc8f8f;
  }

  .dropdown-menu{
    background-color: #E7DFD8 !important;
  }
  
  .container{
    border: #bc8f8f 2px solid ;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .containergrade{
    display: block;
    border: 1px red solid;
    width: 200px;
    font-size: 10px;
    text-align: center;
  }

  .info{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    height: 40vh;
  }

  .icon{
    width: 100%;
    margin: 5px;
  }

  .icon img{
    width: 18px;
    height: 18px;
    margin: 2px;
  }

  span{
    font-size: 21px;
    margin: 5px;
    text-align: justify;
  }

  .foto{
    margin: 20px;
    width: 309px;
  }

  .foto img{
    width: 90%;
  }
  